#footer {           /*elementos en el footer*/
    background-color: black;
    flex-direction: column; /* Cambiado para mejorar la disposición en pantallas pequeñas */
    align-items: center; /* Centrar elementos en el footer */
    justify-content: center;
    height: auto; /* Cambiado a auto para mejor flexibilidad */


/* Estilos para redes sociales en el footer */
#redes {
    display: flex;
    color: white;
    align-items: center;
  gap: 20px; /* Espacio ajustado */
}

/* Imagen en el footer */
#imagen-footer {
  max-height: 40px; /* Ajusta el tamaño del logo */
}



}



