.overlay {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    align-items: center;
}

.main {                        /*main para index*/
    display: flex;
    max-width: 100%;
    height: 100vh;
    gap: 15vh;
    background-image: url("../images/hero-image.png");
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.8);

    .main__caja1 {  /*caja de relleno para el hero*/
        max-width: 100%;
        text-align: center;
        justify-items: center;
        align-items: center;
        
            #draconet-logo-texto { /*estilos para el texto*/
            font-size: 500px;
            margin-top: 220px;
            }
            
            #main__imagenhero{
            height: 300px;
            width: auto;


            }
        
    }
    
    .main__caja2 { /*segtunda caja para el hero */
        max-width: 50%;
        text-align: center;
        justify-items: center;
        align-items: center;
    }
    
    
}

#main__porta { /*estilos hero para portafolio*/
    justify-content: center;
    justify-items: center;
    max-width: 100%;
    height: 800px;;
    background-size:cover;
    background-attachment: fixed;
    background-image: url("../images/portafolio-fondo.jpg");
  }

  #main__nosotros { /*estilos hero para portafolio*/
    justify-content: center;
    justify-items: center;
    max-width: 100%;
    height: 800px;;
    background-size:cover;
    background-attachment: fixed;
    background-image: url("../images/nosotros.jpg");
  }



#main__contacto{                        /*main para index*/
    display: flex;
    max-width: 100%;
    height: 1000px;
    gap: 15vh;
    background-image: url("../images/hero-image.png");
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.8);
}

#main__equipo{                        /*main para equipo*/

    justify-content: center;
    justify-items: center;
    max-width: 100%;
    height: 1000px;
    background-size:cover;
    background-attachment: fixed;
    
}




/*estilos portafolio y grid para ordenamiento de cajas */

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Espacio entre las im치genes */
    text-align: center;
    padding: 20px;

    .image-item img {
        width: 100%; /* Asegura que las im치genes ocupen todo el ancho del contenedor */
        height: auto; /* Mantiene la relaci칩n de aspecto de la imagen */

        
}

}



.image-item p {
    margin-top: 10px; /* Espacio entre la imagen y la leyenda */
    font-size: 16px; /* Ajusta el tama침o del texto */
    color: white; /* Color de la leyenda */
    font-family: poppins;
}
/*estilos portafolio*/

#main__portacaja1 {
display: flex;
align-items: center;
color: white;
justify-content: center;

}





