@media (max-width: 768px) {
    /* estilos moviles */


    .main { /*main para index para moviles*/
      display: flex;
      max-width: 100%;
      height: 900px;
      gap: 15vh;
      background-image: url("../images/hero-image.png");
      background-size: cover;
      background-attachment: fixed;
      align-items: center;
    }


  #main__equipo{                        /*main para equipo*/
    
    justify-content: center;
    justify-items: center;
    max-width: 100%;
    height: 2300px;;
    background-size:cover;
    background-attachment: fixed;
}

#main__porta { /*estilos hero para portafolio*/
    justify-content: center;
    justify-items: center;
    max-width: 100%;
    height: 2300px;
    background-size:cover;
    background-attachment: fixed;
  }

  #main__nosotros { /*estilos hero para portafolio*/
    max-width: auto;
    height: 1400px;
    background-size:cover;
    background-attachment: fixed;
  }

    .main__caja1 { /*ajustes hero texto*/
      max-width: 60%;
      height: auto;
      text-align: center;
      justify-items: center;
      align-items: center;
      justify-content: center;
    }
    .main__caja2 { /*ajustes hero texto*/
      max-width: 81%;
      height: 50vh;
      text-align: center;
      justify-items: center;
      align-items: center;
      align-content: center;
    }
    #draconet-logo-texto {
      font-size: 30px;
      margin-top: 90px;
    }
    .main__contactocaja1 { /*ajustes hero contenedores disposicion*/
      max-width: 100%;
      text-align: center;
      justify-items: center;
      align-items: center;
      font-size: 100px;
    }
    .main__contactocaja2 { /*ajustes hero contenedores disposicion*/
      max-width: 50%;
      text-align: center;
      justify-items: center;
      align-items: center;
      margin-top: 10px;
    }
    #texto-hero-contacto {
      margin-top: 10px;
      font-size: 30px;
      text-align: left;
    }
    .main__contactocaja1 h2 {
      max-width: 100%;
      text-align: center;
      justify-items: center;
      align-items: center;
    }
    #footer {
      background-color: black;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: auto;
    }
    #redes {
      display: flex;
      color: white;
      align-items: center;
      gap: 20px;
    }
    #telefono, #ubicacion { /*diseño footer*/
      display: flex;
      color: white;
      align-items: center;
      gap: 20px;
    }
    #main__contacto { /*estilos hero para contacto*/
      display: flex;
      max-width: 100%;
      height: 90vh;
      gap: 1vh;
      background-image: url("../images/hero-image.png");
      background-size: cover;
      background-attachment: fixed;
      background-color: rgba(0, 0, 0, 0.8);
    }

    #texto-hero-contacto { /*texto hero genericox*/
      margin-top: 40px;
      font-size: 20px;
      text-align: left;
    }
  }
  /* Estilos para redes sociales en el footer */
  #redes {
    display: flex;
    color: white;
    align-items: center;
    gap: 20px; /* Espacio ajustado */
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    /* estilos moviles */


    .main { /*main para index para moviles*/
      display: flex;
      max-width: 100%;
      height: 800px;
      gap: 15vh;
      background-image: url("../images/hero-image.png");
      background-size: cover;
      background-attachment: fixed;
      align-items: center;
      box-flex-group: red;
    }


  #main__equipo{                        /*main para equipo*/
    
    justify-content: center;
    justify-items: center;
    max-width: 100%;
    height: 1300px;
    background-size:cover;
    background-attachment: fixed;

}

#main__porta { /*estilos hero para portafolio*/
    justify-content: center;
    justify-items: center;
    max-width: 100%;
    height: 800px;
    background-size:cover;
    background-attachment: fixed;


  }


    .main__caja1 { /*ajustes hero texto*/
      max-width: 60%;
      height: auto;
      text-align: center;
      justify-items: center;
      align-items: center;
      justify-content: center;
    }
    .main__caja2 { /*ajustes hero texto*/
      max-width: 81%;
      height: 50vh;
      text-align: center;
      justify-items: center;
      align-items: center;
      align-content: center;
    }
    #draconet-logo-texto {
      font-size: 30px;
      margin-top: 90px;
    }
    .main__contactocaja1 { /*ajustes hero contenedores disposicion*/
      max-width: 100%;
      text-align: center;
      justify-items: center;
      align-items: center;
      font-size: 100px;
    }
    .main__contactocaja2 { /*ajustes hero contenedores disposicion*/
      max-width: 50%;
      text-align: center;
      justify-items: center;
      align-items: center;
      margin-top: 10px;
    }
    #texto-hero-contacto {
      margin-top: 10px;
      font-size: 30px;
      text-align: left;
    }
    .main__contactocaja1 h2 {
      max-width: 100%;
      text-align: center;
      justify-items: center;
      align-items: center;
    }
    #footer {
      background-color: black;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: auto;

      #redes {
        display: flex;
        color: white;
        align-items: center;
        gap: 20px;
      }
      #telefono, #ubicacion { /*diseño footer*/
        display: flex;
        color: white;
        align-items: center;
        gap: 20px;
      }



    }

    #main__contacto { /*estilos hero para contacto*/
      display: flex;
      max-width: 100%;
      height: 90vh;
      gap: 1vh;
      background-image: url("../images/hero-image.png");
      background-size: cover;
      background-attachment: fixed;
      background-color: rgba(0, 0, 0, 0.8);
    }

    #texto-hero-contacto { /*texto hero genericox*/
      margin-top: 40px;
      font-size: 20px;
      text-align: left;
    }
  }
  /* Estilos para redes sociales en el footer */
  #redes {
    display: flex;
    color: white;
    align-items: center;
    gap: 20px; /* Espacio ajustado */
  }

  /* Responsive animaciones */
@media (max-width: 768px) {
    #draconet-logo-texto {
        font-size: 2.5rem;
    }
    
    #texto-hero {
        font-size: 1.2rem;
    }
}